<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2019 CEA LIST.
 
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/ 

  SPDX-License-Identifier: EPL-2.0
 
 Contributors:
   Nicolas FAUVERGUE (CEA LIST) nicolas.fauvergue@cea.fr - Initial API and implementation
 
-->

<plugin> 
  
    <extension
         point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
      <elementTypeSet
            clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext"
            path="resources/SysML16Di-extension.elementtypesconfigurations">
      </elementTypeSet>   
   
   </extension>
         <extension
         point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
      <elementTypeSet
            clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext"
            path="resources/SysML16DiUML.elementtypesconfigurations">
      </elementTypeSet>
   </extension>   
    
   <!--CSS Theme -->
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.css.domElementAdapter">
      <factory
            factory="org.eclipse.papyrus.sysml16.diagram.common.css.dom.GMFSYSMLElementProviderFactory"
            order="1">
      </factory>
   </extension>
   
   <extension
        point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
     <library
           description="SysML 1.6 OMG Library"
           name="SysML 1.6 OMG"
           path="pathmap://SysML16_OMG/omg.sysml.uml">
     </library>
  </extension>
  
   <extension
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider
            class="org.eclipse.papyrus.sysml16.diagram.common.internal.provider.SysML16ExpandViewProvider">
         <Priority
               name="Low">
         </Priority>
      </viewProvider>
   </extension>

</plugin>
