<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2019 CEA LIST.
 
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/ 

  SPDX-License-Identifier: EPL-2.0
 
 Contributors:
   Nicolas FAUVERGUE (CEA LIST) nicolas.fauvergue@cea.fr - Initial API and implementation
 
-->

<plugin>

   <!-- Expansion -->
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.common.diagramExpansion">
      <diagramexpansion
            model="resources/configuration/parametricDiagramConfig.expansionmodel">
      </diagramexpansion>
   </extension>
      <!-- Parser provider declaration -->
<extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
	<ParserProvider class="org.eclipse.papyrus.sysml16.diagram.parametric.provider.ParserProvider">
		<Priority name="Low"/>
	</ParserProvider>
</extension>
<extension point="org.eclipse.papyrus.infra.gmfdiag.dnd.dropStrategy">
   <strategy strategy="org.eclipse.papyrus.sysml16.diagram.parametric.dnd.ParameterDropStrategy"></strategy>
   <strategy strategy="org.eclipse.papyrus.sysml16.diagram.parametric.dnd.ConstraintDropStrategy"></strategy>
   <strategy strategy="org.eclipse.papyrus.sysml16.diagram.parametric.dnd.ConstraintPropertyDropStrategy"></strategy>
   <strategy strategy="org.eclipse.papyrus.sysml16.diagram.parametric.dnd.ConstraintBlockDropStrategy"></strategy>   
</extension>

</plugin>
